---
blogStatus: Please update the docs
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% unless environment.serve %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-3885035-5"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-3885035-5");
    </script>
    <!-- End global site tag-->
    {%- endunless -%}

    {% if excerpt %}
      {% assign description = excerpt %}
    {% else %}
      {% assign description = "An incrementally improving blog featuring mostly software engineering stuff, but we'll see what else happens." %}
    {% endif %}

    <title>{% if layout == 'post' %}{{title}} | blog.dermah.com{% else %}{{title}}{% endif %}</title>
    <meta name="Description" content="{{description | strip}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if cover.image %}
    <meta name="twitter:card" content="summary_large_image" />
    {% else %}
    <meta name="twitter:card" content="summary" />
    {% endif %}
    <meta name="twitter:site" content="@dermah" />
    <meta name="twitter:creator" content="@dermah" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description | strip}}" />
    <meta property="og:site_name" content="blog.dermah.com" />
    <meta property="og:type" content="{% if layout == 'post' %}article{% else %}website{% endif %}" />
    <meta property="og:url" content="https://blog.dermah.com{{page.url}}" />
    {% if cover.image %}
    <meta property="og:image" content="https://blog.dermah.com{{cover.image}}" />
    {% else %}
    <meta property="og:image" content="https://blog.dermah.com/icons/dermah-org-12x.png" />
    {% endif %}

    <link href="/css/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/plm4zcf.css">
  </head>
  <body>
    
    {{content}}

    <footer>
      <h2>This is the footer</h2>
      <p>I acknowledge the Gadigal people of the Eora Nation as the traditional owners and custodians of the land on which I live, work, and write this blog. I pay my respects to the Elders past, present and emerging.</p>
      <ul>
        <li>See also: things that are better than <code>{{blogStatus}}</code> at <a href="https://dermah.org">dermah.org</a></li>
        <li>See also: <a href="https://github.com/Dermah/blog.dermah.com">Source for this blog on GitHub</a></li>
        <li>Notice: 2019 - {{"now" | date: "%Y"}} © Sputnik/Dermah. Cobbled together using <a href="https://www.11ty.io/">11ty</a> in Sydney, Australia</li>
      </ul>
    </footer>

    {%- unless environment.serve -%}
    <!-- Default Statcounter code for blog.dermah.org  -->
    <script type="text/javascript">
      var sc_project = 12135697;
      var sc_invisible = 1;
      var sc_security = "d1a48557";
    </script>
    <script
      type="text/javascript"
      src="https://www.statcounter.com/counter/counter.js"
      async
    ></script>
    <noscript
      ><div class="statcounter">
        <a title="Web Analytics" href="https://statcounter.com/" target="_blank"
          ><img
            class="statcounter"
            src="https://c.statcounter.com/12135697/0/d1a48557/1/"
            alt="Web Analytics"
        /></a></div
    ></noscript>
    <!-- End of Statcounter Code -->
    {% endunless %}
  </body>
</html>
