---
permalink: "/{{ page.date | date: '%Y/%m/%d' }}/{{ title | slug }}/index.html"
layout: main-wrapper
# date: this is the publication date of the post
---

<header role="banner" style="{% headerBGStyle cover %}">
  <h1><small>This is a post on </small> <strong>blog.dermah.com</strong></h1>
</header>
<nav role="navigation">
  <a href="/" >< Back To The Index</a>
</nav>

<main role="main">
  <article>
    <h2><span>{{title}}</span></h2>

    <dl>
      {% if talk %}
      <dt>Presented</dt>
      <dd><time datetime="{{talk.date | date: '%Y-%m-%d'}}">{{talk.date | date: '%e %B %Y'}}</time></dd>
      <br />
      {% endif %}

      <dt>Published</dt>
      <dd><time datetime="{{page.date | date: '%Y-%m-%d'}}">{{page.date | date: '%e %B %Y'}}</time></dd>
    </dl>
    {{content}}
  </article>
</main>