---
eleventyExcludeFromCollections: true
layout: main-wrapper
title: "blog.dermah.com | Index"
---

<style>
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.big-dumb-avatar {
  float: right;
  height: 100px;
  margin: 1em;
  /* animation: rotating 8s linear infinite; */
}
</style>

<header role="banner">
  <h1><small>This is</small> <strong>blog.dermah.com</strong></h1>
</header>
<aside class="blog-status" style="background-color: #eeeeff">
  <img src="/img/watermelon.jpg" class="big-dumb-avatar" alt="A picture of a watermelon near my face, spinning indefinitely" />
  <h2>Blog Status: <code>{{blogStatus}}</code></h2>
  <ul>
    <li><strong>HTML</strong>: Accurate and accessible</li>
    <li><strong>Content</strong>: Long and rambly</li>
    <li><strong>CSS</strong>: Ready to become a mess</li>
    <li><strong>JS</strong>: Who needs it</li>
    <li><strong>Infrastructure</strong>: Half baked (lol)</li>
    <li><strong>SEO</strong>: Prepped for virality</li>
    <li><strong>Tooling</strong>: Command line muscle memory</li>
  </ul>
</aside>

<main class="homepage" role="main">
  {%- assign posts = collections.allPublicPosts | reverse -%}
  {%- for post in posts -%}
  <article>
    <h2><a href="{{post.url}}">[{{post.data.layout}}] {{post.data.title}}</a></h2>

    {{post.data.excerpt | renderUsingMarkdown | safe}}

    <div>
      <a href="{{post.url}}" aria-label="Continue reading article: {{post.data.title}}">Continue reading &rarr;</a>
    </div>
  </article>
  {%- endfor -%}
</main>