---
eleventyExcludeFromCollections: true
layout: main-wrapper
title: "blog.dermah.com | Index"
---

<h1>This is blog.dermah.com</h1>
<aside style="background-color: #eeeeff">
  <h2>Blog Status: <code>{{blogStatus}}</code></h2>
  <ul>
    <li><strong>HTML</strong>: Decent semantics</li>
    <li><strong>Content</strong>: Less important than the CMS</li>
    <li><strong>CSS</strong>: Naively implemented</li>
    <li><strong>JS</strong>: Why bother at this point</li>
    <li><strong>Infrastructure</strong>: Not bad tbh</li>
    <li><strong>SEO</strong>: Prepped for virality</li>
  </ul>
</aside>

<hr />

{%- for post in collections.all -%}
<article>
  <h2><a href="{{post.url}}">Post: {{post.data.title}}</a></h2>

  {{post.data.excerpt | renderUsingMarkdown | safe}}

  <a href="{{post.url}}">Continue reading &rarr;</a>
</article>
<hr />
{%- endfor -%}
